* {
  box-sizing: border-box;
  text-decoration: none;
  text-size-adjust: none;
}
body,
html {
  padding: 0;
  margin: 0;
}
strong {
  font-weight: 600;
}
a {
  color: #2b54a7;
  font-weight: 600;
  transition: all 0.1s;
  /*
  * {
    transition: all 0.1s;
  } */
}
button {
  transition: all 0.1s;
  /* * {
    transition: all 0.1s;
  } */
}
.hidden {
  display: none;
}
.row {
  height: 170px;
}
.label {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}
.sc {
  overflow-y: auto;
  padding-right: 20px;
}
.sc::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  cursor: pointer;
}
.sc::-webkit-scrollbar-track {
  background-color: #e5a922;
  border-radius: 0px;
}
.sc::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  border-top: 0px;
  border-left-width: 2px;
  cursor: pointer;
}
ul {
  padding-left: 20px;
  list-style-type: none;
  margin: 0;
}
ul li {
  margin-bottom: 10px;
}
ul li p {
  display: inline-block;
  vertical-align: top;
}
ul li p:last-child {
  margin-bottom: 0 !important;
}
ul li:before {
  content: '\2B26';
  color: rgba(0, 0, 0, 0.5);
  width: 20px;
  text-align: left;
  display: inline-block;
  margin-left: -20px;
  vertical-align: top;
  margin-right: 0px;
}
ul li:last-of-type {
  margin-bottom: 0;
}
body {
  text-align: center;
  width: 100%;
  background: /* url(../images/bg.gif), */ linear-gradient(180deg, #25272e 0%, #333333 100%);
  background-size: cover;
  min-height: 100vh;
  font-family: 'Catamaran', sans-serif;
  line-height: 20px;
  font-size: 16px;
}
body .wrapper {
  display: inline-block;
  position: relative;
  padding: 0 20px;
}
body .wrapper > .page {
  display: flex;
  margin: 40px 0 60px 0;
  text-align: left;
}
body .wrapper > .page .main {
  width: 680px;
  box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  background: #ffbb00;
  overflow: hidden;
}
body .wrapper > .page .main .part {
  border-bottom: 2px dashed #cc9600;
  margin-bottom: 00px;
  padding: 20px;
}
body .wrapper > .page .main .part:last-child {
  margin-bottom: 0;
  border: none;
}
body .wrapper > .page .main .video {
  background: rgba(0, 0, 0, 0.1);
  line-height: 0;
  height: 360px;
}
body .wrapper > .page .side {
  /* width: (640px/2 - @padding) + (@padding * 2); */
  width: 270px;
  text-align: center;
}
.logowrap {
  position: fixed;
  width: 230px;
  padding-top: 10px;
}
.logo {
  cursor: pointer;
}
.logo .axel {
  font-family: 'Vast Shadow', cursive;
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
  color: #888888;
}
.logo .productions {
  color: #888888;
  font-size: 12px;
  letter-spacing: 0.22em;
  font-weight: 300;
  margin-top: -4px;
  margin-bottom: 2px;
}
.logo .productions span {
  color: #888888;
  font-weight: 300;
}
.logo:hover .axel {
  color: white;
}
.logo:hover .productions {
  color: white;
}
.logo:hover .productions span {
  color: white;
}
nav {
  position: fixed;
  top: 250px;
  width: 230px;
}
nav .header {
  color: #888888;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.22em;
  margin-top: 20px;
}
nav .links {
  text-align: left;
  margin: 20px 0;
}
nav .links .item {
  color: #888888;
  display: block;
  font-weight: 500;
  margin-top: 10px;
  cursor: pointer;
}
nav .links .item i {
  display: inline-block;
  text-align: left;
  width: 20px;
  margin-right: 5px;
}
nav .links .item:hover {
  color: white;
}
.divider {
  display: inline-block;
  width: 20px;
  border-bottom: 1px solid #888888;
  opacity: 0.4;
}
.slogan {
  font-family: 'Marck Script', cursive;
  font-size: 17px;
  color: #888888;
  width: 155px;
  display: inline-block;
  margin-top: 20px;
}
.video {
  background: #e5a922;
  margin-bottom: 20px;
}
.badges {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
.badges > div {
  flex: 0 0 50%;
  text-align: center;
  border-radius: 4px;
  font-size: 0;
  line-height: 0;
}
.badges > div a {
  display: inline-block;
  border-radius: 4px;
}
.badges > div a:hover,
.badges > div a:active {
  border-color: #2b54a7 !important;
}
.badges > div.extension {
  padding-right: 10px;
}
.badges > div.extension a {
  transition: none;
  border: 2px solid #cc9600;
  background: linear-gradient(0deg, #cccccc 0%, #ffffff 65%);
}
.badges > div.extension a img {
  display: block;
}
.badges > div.extension a:hover,
.badges > div.extension a:active {
  background: white;
}
.badges > div.editor {
  padding-left: 10px;
}
.badges > div.editor a {
  width: 210px;
  display: inline-flex;
  border: 2px dashed #cc9600;
  align-items: center;
  height: 62px;
  padding-top: 2px;
  justify-content: center;
}
.badges > div.editor a .icon {
  font-size: 24px;
  font-family: 'Audiowide', sans-serif;
  line-height: 32px;
  font-weight: 400;
  flex: 0 0 auto;
  text-align: center;
  color: #2b54a7;
}
.badges > div.editor a .icon span {
  color: #c91b0b;
}
.badges > div.editor a .text {
  flex: 0 0 auto;
  text-align: left;
  padding-left: 10px;
  line-height: 20px;
  color: #333333;
}
.badges > div.editor a .text .title {
  font-size: 16px;
  color: #333333;
  font-weight: 400;
}
.badges > div.editor a .text .descr {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 15px;
  font-weight: 400;
}
.badges > div.editor a:hover,
.badges > div.editor a:active {
  background: #e5a922;
}
.badges > div .description {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  line-height: 20px;
  margin-top: 12px;
}
.art {
  display: flex;
  align-items: bottom;
}
.art .wrap {
  flex: 0 0 100%;
  background: #e5a922;
  overflow: hidden;
  position: relative;
  display: flex;
  padding: 14px;
}
.art .wrap .shadow {
  position: absolute;
  width: 600px;
  height: 600px;
  left: 68%;
  top: -128px;
  transform: rotate(30deg);
  background: rgba(0, 0, 0, 0.03);
}
.art .wrap .textual {
  flex: 0 0 382px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  z-index: 10;
}
.art .wrap .textual .label {
  position: absolute;
  top: 0px;
  left: 0px;
}
.art .wrap .textual .title {
  font-size: 32px;
  color: #333333;
  margin-bottom: 15px;
  font-family: 'Audiowide', sans-serif;
}
.art .wrap .textual .text {
  color: #ffffff;
  font-weight: 300;
}
.art .wrap .icon {
  display: flex;
  text-align: center;
  align-items: center;
  position: absolute;
  right: -11px;
  top: -45px;
  transition: all .7s;
}
.art .wrap .icon img {
  height: 260px;
  width: 260px;
  transform: rotate(50deg);
  position: relative;
  top: 7px;
  opacity: 0.5;
  transition: all .7s;
}
.art .wrap:hover .icon {
  top: -65px;
  right: 0px;
}
.art .wrap:hover .icon img {
  height: 300px;
  width: 300px;
  opacity: 0.8;
}
.devlog {
  padding: 12px 7px 12px 0;
  /* border: 2px dashed @darkyellow; */
  color: rgba(0, 0, 0, 0.5);
  height: auto;
  position: relative;
  border: 2px solid #cc9600;
  background: #e5a922;
  border-radius: 0px;
  z-index: 2;
}
.devlog h2 {
  margin: 0 0 10px 0;
  font-size: 16px;
  color: #333333;
}
.devlog .pagination {
  position: absolute;
  top: -48px;
  right: -2px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 38px;
}
.devlog .pagination .page {
  padding: 0;
  width: 32px;
  text-align: center;
  height: auto;
  display: inline-block;
}
.devlog .pagination button {
  border: none;
  background: none;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  line-height: 40px;
  width: 40px;
  border-radius: 4px;
}
.devlog .pagination button:not(.disabled) {
  cursor: pointer;
}
.devlog .pagination button:not(.disabled):hover {
  background: #e5a922;
}
.devlog .pagination button.disabled {
  color: #cc9600;
  font-weight: 300;
}
.devlog .page {
  height: 390px;
  font-size: 16px;
  padding: 7px 12px;
}
.devlog .page * {
  font-size: 16px;
}
.about {
  padding: 12px 7px 12px 0;
  border: 2px solid #cc9600;
  background: #e5a922;
  border-radius: 0px;
  position: relative;
  z-index: 2;
}
.about .content {
  padding: 4px 12px;
  color: rgba(0, 0, 0, 0.5);
  height: 390px;
  font-size: 16px;
}
.about .content * {
  font-size: 16px;
}
.about .content h3 {
  margin: 20px 0 10px 0;
  color: #333333;
}
.about .content img {
  width: 100%;
}
.about .content p {
  margin: 0 0 10px 0;
}
.art2 {
  line-height: 0;
  margin-top: 20px;
}
.art2 img {
  width: 100%;
}
.privacy {
  background: none;
  padding: 14px;
  color: rgba(0, 0, 0, 0.5);
}
.privacy > strong {
  color: #333333;
}
footer {
  position: absolute;
  bottom: 20px;
  color: #888888;
  width: 680px;
  text-align: left;
  padding: 0 23px;
  right: 20px;
}
footer span:nth-child(2) {
  float: right;
}
article.privacy h2 {
  position: relative;
  margin: -20px -20px 20px -20px;
  padding: 20px 20px 20px 20px;
  background: #e5a922;
  overflow: hidden;
}
article.privacy h2 .imgwrap {
  position: absolute;
  right: 20px;
  top: -30px;
  opacity: 0.25;
}
article.privacy h2 .imgwrap img {
  height: 170px;
  transform: rotate(45deg);
}
article.privacy h2 .title div:first-child {
  font-size: 32px;
  font-weight: 500;
  line-height: 43px;
  color: #333333;
}
article.privacy h2 .title div:last-child {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
}
article.privacy h2 .title div:last-child span {
  font-weight: 600;
}
article.privacy h3 {
  font-size: 16px;
  color: #333333;
}
article.privacy strong {
  font-weight: 600;
}
.tabs {
  font-size: 0;
}
.tabs .tabbutton {
  border: 2px solid transparent;
  border-bottom: 0px;
  background: none;
  color: rgba(0, 0, 0, 0.5);
  margin: 0;
  line-height: 48px;
  display: inline-block;
  width: 100px;
  padding: 0;
  padding-left: 14px;
  padding-right: 14px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  font-family: 'Catamaran', sans-serif;
  margin-right: 2px;
  margin-bottom: -2px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.tabs .tabbutton:first-child {
  border-left: none;
}
.tabs .tabbutton.active {
  background: #e5a922;
  border: 2px solid #cc9600;
  border-bottom: 0px;
  z-index: 100;
  color: #333333;
}
.tabs .tabbutton:hover {
  background: #e5a922;
  border-bottom: 0px;
}
/** 
 * Responsive design
 */
@media screen and (max-width: 1010px) {
  body > .wrapper {
    padding: 0px;
  }
  body > .wrapper > .page {
    display: block;
    margin-top: 20px;
    width: 680px;
  }
  body > .wrapper > .page .side {
    width: 100%;
    padding: 0 20px;
  }
  body > .wrapper > .page .side .logowrap {
    position: relative;
    width: 100%;
    top: 0;
    display: flex;
    padding: 0;
  }
  body > .wrapper > .page .side .logowrap .logo {
    position: relative;
  }
  body > .wrapper > .page .side .logowrap .slogan {
    flex: 1 0 auto;
    text-align: right;
    margin-top: 9px;
    padding-left: 58px;
    height: 62px;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  body > .wrapper > .page .side .logowrap .slogan span {
    flex: 1 1 auto;
  }
  body > .wrapper > .page .side nav {
    position: relative;
    z-index: 100;
    top: 0;
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    margin-bottom: 40px;
    border-top: 0px solid #888888;
    text-align: left;
    border-top: 2px dashed #8884;
  }
  body > .wrapper > .page .side nav .links {
    display: inline-block;
    width: auto;
    margin-top: 0px;
    text-align: right;
  }
  body > .wrapper > .page .side nav .links .item {
    display: block;
  }
  body > .wrapper > .page .side nav .links.social {
    float: right;
  }
  body > .wrapper > .page .side nav .links.social i {
    float: right;
    margin: 0 0 0 5px;
    text-align: right;
  }
  body > .wrapper > .page .side nav .links.projects {
    text-align: left;
    padding-left: 0;
    margin: 30px 0 0 0;
  }
  body > .wrapper > .page .side nav .header {
    display: none;
  }
  body > .wrapper > .page .side .divider {
    display: none;
  }
  footer {
    width: 100%;
    right: 0;
  }
}
@media screen and (max-width: 735px) {
  body > .wrapper {
    padding: 0px;
  }
}
@media screen and (max-width: 695px) {
  body > .wrapper .page {
    width: 100%;
  }
  body > .wrapper .page .main {
    border-radius: 0;
    width: 100%;
  }
  body > .wrapper .page .main .video {
    height: auto;
    margin-bottom: 20px;
  }
  body > .wrapper .page .main .art {
    margin-top: 20px;
  }
  body > .wrapper .page .main .art2 {
    margin-top: 5px;
  }
  body > .wrapper .page .main .privacy {
    padding: 9px;
  }
  body > .wrapper .page .main .part {
    padding: 5px;
  }
  footer {
    padding: 7px;
  }
}
@media screen and (max-width: 550px) {
  body > .wrapper .page .slogan {
    font-size: 14px;
    line-height: 16px;
  }
  body > .wrapper .page .badges {
    height: auto;
    flex-direction: column;
  }
  body > .wrapper .page .badges .extension {
    padding: 20px 0;
    flex: 0 0 100%;
  }
  body > .wrapper .page .badges .editor {
    padding: 20px 0;
    display: block;
    flex: 0 0 100%;
  }
  body > .wrapper .page .art .icon {
    right: -50px;
  }
  body > .wrapper .page .art .wrap:hover .icon {
    right: -45px;
  }
}
@media screen and (max-width: 425px) {
  footer {
    bottom: 2px;
    padding-left: 20px;
  }
  footer span {
    display: block;
  }
  footer span:nth-child(2) {
    float: none;
  }
  body > .wrapper .page {
    margin-bottom: 60px;
  }
  body > .wrapper .page .side nav .links.social .item {
    font-size: 0;
  }
  body > .wrapper .page .side nav .links.social .item i {
    font-size: 16px;
  }
}
