@font-face {
  font-family: Audiowide;
  src: url(/assets/fonts/Audiowide-Regular.ttf);
}
* {
  position: relative;
  box-sizing: border-box;
}
.hidden {
  display: none;
}
.bold {
  font-weight: 400;
}
a {
  text-decoration: none;
  color: #1d64d8;
  font-weight: 400;
}
p {
  margin: 0 0 9px 0;
}
ul,
ol {
  margin: 0;
  padding-left: 16px;
}
ul li,
ol li {
  margin-bottom: 9px;
}
body {
  background: #ffbb00;
  /* background: repeating-linear-gradient( 180deg, #FFBB00, #ffbb00 17px, #cc9900 17px, #cc9900 18px); */
  background-position-y: 0px;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  min-width: 732px;
  position: initial;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #404040;
  text-align: center;
  padding-bottom: 54px;
  font-size: 14px;
}
body .wrapper {
  width: 720px;
  display: inline-block;
}
.h1,
h2,
h3 {
  font-family: 'Saira', sans-serif;
  font-weight: 600;
  color: #404040;
  margin: 0;
}
h2 {
  font-size: 21px;
  margin-bottom: 14px;
}
h3 {
  font-size: 17px;
}
.width {
  margin-left: calc(-310vw);
  margin-right: calc(-310vw);
  width: 720px;
}
.slider .pagination {
  position: absolute;
  top: 0;
  right: 7px;
  font-weight: bold;
}
.slider .pagination button {
  border: none;
  background: none;
  padding: 0;
  width: 21px;
  line-height: 21px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
}
.slider .pagination button.disabled {
  color: #bb891a;
}
.slider .pagination button.disabled:hover {
  background: none;
}
header {
  border-bottom: 1px solid #bb891a;
  background: #ffc422;
}
header .wrapper {
  padding: 27px 0;
}
header .wrapper a {
  display: inline-block;
  position: relative;
  top: -4px;
}
header h1 {
  margin: 0;
}
header .logo {
  display: inline-block;
  color: #2b54a7;
  font-family: 'Audiowide';
  font-size: 51px;
}
header .logo .full {
  color: #bb891a;
}
header .logo.small {
  font-size: 18px;
}
header .slogan {
  display: block;
  color: #bb891a;
  /* font-family: 'Saira'; */
  font-size: 16px;
  margin-top: 4px;
}
.basic-layout header {
  text-align: center;
}
nav strong {
  vertical-align: baseline;
}
nav .wrapper {
  padding: 56px 0;
}
nav .wrapper > div {
  margin-bottom: 41px;
  font-size: 0;
}
nav .wrapper > div > * {
  vertical-align: middle;
}
nav .wrapper > div:last-child {
  margin-bottom: 0;
}
nav .wrapper > div.editor a {
  color: #404040;
}
nav .wrapper > div.editor a > * {
  vertical-align: middle;
}
nav .wrapper > div.editor .icon {
  font-family: 'Saira', sans-serif;
  font-size: 32px;
  font-weight: 600;
  display: inline-block;
  margin-right: 7px;
  color: #2b54a7;
  top: -2px;
}
nav .wrapper > div.editor .icon span {
  color: #f65314;
}
nav .wrapper > div.editor .text {
  display: inline-block;
  text-align: left;
}
nav .wrapper > div.editor .text .title,
nav .wrapper > div.editor .text .title * {
  vertical-align: middle;
  font-size: 16px;
}
nav .wrapper > div.editor .text .descr {
  font-size: 12px;
  color: #a7a7a7;
}
nav a {
  width: 294px;
  background: white;
  border: 3px solid #9eaebd;
  height: 67px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  box-shadow: 0 1px 1px #74808b;
}
nav a:hover {
  border-color: #1d64d8;
}
nav .description {
  display: inline-block;
  line-height: 18px;
  vertical-align: top;
  width: 426px;
  text-align: center;
  font-size: 14px;
}
nav .description span {
  display: block;
  color: #bb891a;
}
.video-section {
  margin: 7px 0;
}
.video-section .wrapper {
  background: #bb891a;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}
.video-section .wrapper > div {
  flex: 0 0 auto;
}
.video-section .wrapper > div.joinus {
  color: white;
  font-size: 14px;
  line-height: 18px;
  width: 294px;
  text-align: center;
}
.video-section .wrapper > div.joinus a {
  color: white;
  font-size: 24px;
  display: inline-block;
  padding: 15px;
}
.video-section .wrapper > div.joinus a:hover {
  color: #2b54a7;
}
.video-section .wrapper > div.video {
  font-size: 0;
}
.news .wrapper {
  text-align: left;
  padding: 54px 0;
  font-size: 0;
}
.news .wrapper > div {
  vertical-align: top;
  display: inline-block;
  padding: 0 14px;
  text-align: justify;
}
.news .wrapper > div h2 {
  margin-bottom: 18px;
  font-size: 19px;
}
.news .wrapper > div.future {
  font-size: 14px;
  line-height: 18px;
  width: 294px;
}
.news .wrapper > div.update {
  font-size: 14px;
  line-height: 18px;
  width: 426px;
}
.panel {
  margin-top: -6px;
  display: inline-block;
  width: 720px;
  text-align: left;
  box-shadow: 0 1px 1px #74808b;
  border-radius: 12px;
  overflow: hidden;
}
.panel h2 {
  font-size: 0px;
  vertical-align: middle;
  background: #9eaebd;
  margin: 0;
  vertical-align: top;
  display: flex;
  padding-right: 15px;
  padding-left: 12px;
  border: 3px solid #9eaebd;
  border-bottom: 0px;
}
.panel h2 .imgwrap {
  width: 45px;
  height: 45px;
  display: inline-block;
  vertical-align: top;
  flex: 0 0 45px;
  position: relative;
  top: 8px;
  left: -3px;
}
.panel h2 img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  position: relative;
}
.panel h2 .title {
  padding-left: 6px;
  display: inline-block;
  font-size: 21px;
  line-height: 40px;
}
.panel h2 .title div:nth-child(1) {
  text-transform: uppercase;
}
.panel h2 .title div:nth-child(2) {
  font-size: 16px;
  line-height: 20px;
  position: relative;
  top: -6px;
  font-weight: 400;
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-top: 1px;
  margin-bottom: 3px;
}
.panel .content {
  padding: 12px;
  border: 3px solid #9eaebd;
  border-top: 0;
  background: white;
  line-height: 18px;
  text-align: justify;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  font-size: 14px;
}
.panel .content img {
  width: 100%;
  display: block;
  margin-top: 18px;
}
.panel .content h3,
.panel .content h4,
.panel .content h5 {
  line-height: 18px;
  margin-top: 18px;
  margin-bottom: 9px;
}
.panel .content h3 {
  font-size: 17px;
  font-weight: 600;
}
.panel .content h4 {
  font-size: 14px;
  font-weight: 600;
}
.panel .content ul,
.panel .content ol {
  margin: 0;
  padding-left: 24px;
}
.homepage .privacy {
  padding: 55px 16px;
  line-height: 18px;
  margin: 0;
}
.privacy {
  padding: 55px 16px;
}
.privacy .content h2,
.privacy .content h3 {
  text-transform: uppercase;
}
.privacy .content ul.spaces li {
  margin-bottom: 6px;
}
.privacy .panel {
  margin-top: 0px;
}
footer {
  position: absolute;
  background: #bb891a;
  bottom: 0;
  left: 0;
  width: 100%;
  font-weight: 400;
  font-family: 'Saira', sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  padding: 15px 12px;
}
footer > div {
  display: inline-flex;
  width: 720px;
}
footer .copyright {
  flex: 1 1 auto;
  text-align: left;
}
footer .creator {
  flex: 1 1 auto;
  text-align: right;
}
footer .creator i {
  color: #f65314;
}
.editorlogo h1 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #404040;
  font-weight: 400;
}
.editorlogo h1 > * {
  vertical-align: middle;
}
.editorlogo h1 .icon {
  font-family: 'Saira', sans-serif;
  font-size: 32px;
  font-weight: 600;
  display: inline-block;
  margin-right: 7px;
  color: #2b54a7;
  top: -2px;
}
.editorlogo h1 .icon span {
  color: #f65314;
}
.editorlogo h1 .text {
  display: inline-block;
  text-align: left;
}
.editorlogo h1 .text .title,
.editorlogo h1 .text .title * {
  vertical-align: middle;
  font-size: 16px;
}
.editorlogo h1 .text .descr {
  font-size: 12px;
  color: #bb891a;
}
.rule-editor-layout header {
  border-bottom: 1px solid #bb891a;
  padding: 6px 0;
  margin: 0;
}
.rule-editor-layout header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.account-activation {
  text-align: left;
  padding: 0 8px;
}
