
@padding: 20px;

@blue: #1d64d8;
@darkblue: #2b54a7;
@yellow: #FFBB00;
@darkyellow: #CC9600;
@orange: #f19a2a;
@red: #f65314;
@darkred: #c91b0b;
@black: #333;
@gray: #888;

@colorfont: rgba(0, 0, 0, 50%);
@colorblock: #e5a922;

@fonttext: 'Catamaran', sans-serif;
@fontlogo: 'Vast Shadow', cursive;
@fontscript: 'Marck Script', cursive;
@fontaudio: 'Audiowide', sans-serif;

@lineheight: 20px;

* {
  box-sizing: border-box;
  text-decoration: none;
  text-size-adjust: none;
}

body, html {
  padding: 0;
  margin: 0;
} 

strong { font-weight: 600; }

a { 
  color: @darkblue; 
  font-weight: 600;
  transition: all 0.1s; /*
  * {
    transition: all 0.1s;
  } */
}
button {
  transition: all 0.1s;
  /* * {
    transition: all 0.1s;
  } */
}

.hidden {
  display: none;
}

.row {
  height: 170px;
}

.label {
  font-size: 14px;
  color: @colorfont;
}

.sc {
  overflow-y: auto;
  padding-right: 20px;
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    cursor: pointer;
  }
  &::-webkit-scrollbar-track {
    background-color: @colorblock;
    border-radius: 0px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: @colorfont;
    border: none;
    border-top: 0px;
    border-left-width: 2px;
    cursor: pointer;
  }
}



ul {
  padding-left: 20px;
  list-style-type: none;
  margin: 0;
  li {
    margin-bottom: @lineheight/2;
    p { 
      display: inline-block; 
      vertical-align: top; 
      &:last-child { margin-bottom: 0 !important; }
    }
    &:before {
      content: '\2B26';
      color: @colorfont;
      width: 20px;
      text-align: left;
      display: inline-block;
      margin-left: -20px;
      vertical-align: top;
      margin-right: 0px;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}


body {
  text-align: center;
  width: 100%;
  background: /* url(../images/bg.gif), */ 
    linear-gradient(180deg, rgba(37, 39, 46, 1) 0%, rgba(51, 51, 51, 1) 100%);
  background-size: cover;
  min-height: 100vh;
  font-family: @fonttext;
  line-height: @lineheight;
  font-size: 16px;

  .wrapper {
    display: inline-block;
    position: relative;
    padding: 0 @padding;
    & > .page {
      display: flex;
      margin: @padding * 2 0 @padding * 3 0;
      text-align: left;

      .main {
        width: 640px + (@padding * 2);
        box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.6);
        border-radius: 4px;
        background: @yellow;
        overflow: hidden;
        .part {
          border-bottom: 2px dashed @darkyellow;
          margin-bottom: 00px;
          padding: @padding;
          &:last-child {
            margin-bottom: 0;
            border: none;
          }
        }
        .video {
          background: rgba(0, 0, 0, 10%);
          line-height: 0;
          height: 360px;
        }
      }

      .side {
        /* width: (640px/2 - @padding) + (@padding * 2); */
        width: 270px;
        text-align: center;
      }
    }
  }
}


.logowrap { 
  position: fixed;
  width: 230px;
  padding-top: 10px;
}
.logo {
  cursor: pointer;
  .axel {
    font-family: @fontlogo;
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    color: @gray;
  }
  .productions {
    color: @gray;
    font-size: 12px;
    letter-spacing: 0.22em;
    font-weight: 300;
    margin-top: -4px;
    margin-bottom: 2px;
    span {
      color: @gray;
      font-weight: 300;
    }
  }
  &:hover {
    .axel { color: white; }
    .productions { 
      color: white; 
      span { 
        color: white;
      }
    }
  }
}

nav {
  position: fixed;
  top: 250px;
  width: 230px;
  .header { 
    color: @gray;;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 0.22em;
    margin-top: @padding;
  }
  .links {
    text-align: left;
    margin: @padding 0;
    .item {
      color: @gray;
      display: block;
      font-weight: 500;
      margin-top: 10px;
      cursor: pointer;
      i {
        display: inline-block;
        text-align: left;
        width: 20px;
        margin-right: 5px;
      }
      &:hover {
        color: white;
      }
    }
  }
}

.divider {
  display: inline-block;
  width:20px;
  border-bottom: 1px solid @gray;
  opacity: 0.4;
}

.slogan {
  font-family: @fontscript;
  font-size: 17px;
  color: @gray;
  width: 155px;
  display: inline-block;
  margin-top: @padding;
}

.video {
  background: @colorblock;
  margin-bottom: @padding;
}

.badges {
  display: flex;
  margin-bottom: @padding;
  align-items: center;
  & > div {
    flex: 0 0 50%;
    text-align: center;
    border-radius: 4px;
    font-size: 0;
    line-height: 0;
    a {
      display: inline-block;
      border-radius: 4px;
      &:hover, &:active {
        border-color: @darkblue !important;
      }
    }

    &.extension {
      padding-right: @padding/2;
      a {
        transition: none;
        border: 2px solid @darkyellow;
        background: linear-gradient(0deg, #ccc 0%, #ffffff 65%);
        img {
          display: block;
        }
        &:hover, &:active {
          background: white;
        }
      }
    }

    &.editor {
      padding-left: @padding/2;
      a {
        width: 210px;
        display: inline-flex;
        border: 2px dashed @darkyellow;
        align-items: center;
        height: 62px;
        padding-top: 2px;
        justify-content: center;
        .icon {
          font-size: 24px;
          font-family: @fontaudio;
          line-height: 32px;
          font-weight: 400;
          flex: 0 0 auto;
          text-align: center;    
          color: @darkblue;
          span {
            color: @darkred;
          }    
        }
        .text {
          flex: 0 0 auto;
          text-align: left;
          padding-left: 10px;
          line-height: @lineheight;
          color: @black;
          .title {
            font-size: 16px;
            color: @black;
            font-weight: 400;
          }
          .descr {
            font-size: 12px;
            color: @colorfont;
            line-height: 15px;
            font-weight: 400;
          }
        }
        &:hover, &:active {
          background: @colorblock;
        }

      }
    }

    .description {
      font-size: 14px;
      color: @colorfont;
      text-align: center;
      line-height: @lineheight;
      margin-top: 12px;
    }
  }
}

.art {
  display: flex;
  align-items: bottom;
  .wrap {
    flex: 0 0 100%;
    background: @colorblock;
    overflow: hidden;
    position: relative;
    display: flex;
    padding: 14px;
    .shadow {
      position: absolute;
      width: 600px;
      height: 600px;
      left: 68%;
      top: -128px;
      transform: rotate(30deg);
      background: rgba(0, 0, 0, 0.03);
    }
    .textual {
      flex: 0 0 382px;
      text-align: left;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: relative;    
      z-index: 10;  
      .label {
        position: absolute;
        top: 0px;
        left: 0px;
      }
      .title {
        font-size: 32px;
        color: @black;
        margin-bottom: 15px;
        font-family: @fontaudio;
      }
      .text {
        color: rgba(255,255,255,1);
        font-weight: 300;
      }
    }
    .icon {
      display: flex;
      text-align: center;
      align-items: center;
      position: absolute;
      right: -11px;
      top: -45px;
      transition: all .7s;
      img {
        height: 260px;
        width: 260px;
        transform: rotate(50deg);
        position: relative;
        top: 7px;
        opacity: 0.5;
        transition: all .7s;
      }
    }

    &:hover .icon { 
      top: -65px;
      right: 0px;
      img {
        height:300px;
        width:300px;
        opacity: 0.8;
      }
    }
  }
}

.devlog {
  padding: 12px 7px 12px 0;
  /* border: 2px dashed @darkyellow; */
  color: @colorfont;
  height: auto;
  position: relative;
  border: 2px solid @darkyellow;
  background: @colorblock;
  border-radius: 0px;
  z-index: 2;
  h2 { 
    margin: 0 0 @lineheight/2 0;
    font-size: 16px;
    color: @black;
  }
  .pagination {
    position: absolute;
    top: -48px;
    right: -2px;
    color: @colorfont;
    line-height: 38px;
    .page {
      padding: 0;
      width: 32px;
      text-align: center;
      height: auto;
      display: inline-block;
    }
    button {
      border: none;
      background: none;
      color: @colorfont;
      font-weight: 600;
      line-height: 40px;
      width: 40px;
      border-radius: 4px;
      &:not(.disabled) {
        cursor: pointer;
        &:hover {
          background: @colorblock;
        }
      }
      &.disabled {
        color: @darkyellow;
        font-weight: 300;
      }
    }
  }
  .page {
    height: 390px;
    font-size: 16px;
    padding: 7px 12px;
    * {
      font-size: 16px;
    }
  }
}

.about {
  padding: 12px 7px 12px 0;
  border: 2px solid @darkyellow;
  background: @colorblock;
  border-radius: 0px;
  position: relative;
  z-index: 2;
  .content {
    padding: 4px 12px;
    color: @colorfont;
    height: 390px;
    font-size: 16px;
    * {
      font-size: 16px;
    }
    h3 {
      margin: @lineheight 0 @lineheight/2 0;
      color: @black;
    }
    img {
      width: 100%;
    }
    p {
      margin: 0 0 10px 0;
    }
  }
}

.art2 {
  line-height: 0;
  margin-top: @padding;
  img {
    width: 100%;
  }
}

.privacy {
  background: none;
  padding: 14px;
  color: @colorfont;
  & > strong {
    color: @black;
  }
}

footer {
  position: absolute;
  bottom: @padding;
  color: @gray;
  width: 680px;
  text-align: left;
  padding: 0 23px;
  right: @padding;
  span:nth-child(2) {
    float:right;
  }
}



article.privacy {
  h2 {
    position: relative;
    margin: -20px -20px 20px -20px;
    padding: 20px 20px 20px 20px;
    background: @colorblock;
    overflow: hidden;
    .imgwrap {
      position: absolute;
      right: @padding;
      top: -30px;
      opacity: 0.25;
      img {
        height: 170px;
        transform: rotate(45deg);
      }
    }
    .title {
      div:first-child {
        font-size:32px;
        font-weight: 500;
        line-height: 43px;
        color: @black;
      }
      div:last-child {
        font-size:16px;
        color: @colorfont;
        font-weight: 300;
        span {
          font-weight: 600;
        }
      }
    }
  }

  h3 {
    font-size: 16px;
    color: @black;
  }
  strong {
    font-weight: 600;
  }
}


.tabs {
  font-size: 0;
  .tabbutton {
    border: 2px solid transparent;
    border-bottom: 0px;
    background: none;
    color: @colorfont;
    margin: 0;
    line-height: 48px;
    display: inline-block;
    width: 100px;
    padding: 0;
    padding-left: 14px;
    padding-right: 14px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    font-family: @fonttext;
    margin-right: 2px;
    margin-bottom: -2px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    position: relative;
    font-weight: 600;
    z-index: 1;
    &:first-child {
      border-left: none;
    }
    &.active {
      background: @colorblock;
      border: 2px solid @darkyellow; 
      border-bottom: 0px;
      z-index: 100;
      color: @black;
    }
    &:hover {
      background: @colorblock;
      border-bottom: 0px;

    }
  }

}




/** 
 * Responsive design
 */
@media screen and (max-width: 1010px) {
  body > .wrapper { padding: 0px; }
  body > .wrapper > .page {
    display: block;
    margin-top: 20px;
    width: 680px;
    .side {
      width:100%;
      padding: 0 @padding;
      .logowrap {
        position: relative;
        width:100%;
        top: 0;
        display: flex;
        padding: 0;
        .logo {
          position: relative;
        }
        .slogan {
          flex: 1 0 auto;
          text-align: right;
          margin-top: 9px;
          padding-left: 58px;
          height: 62px;
          display: flex;
          justify-content: right;
          align-items: center;
          span {
            flex: 1 1 auto;
          }
        }
      }
      nav {
        position: relative;
        z-index: 100;
        top: 0;
        width: 100%;
        margin-top: @padding;
        padding-top: @padding/2;
        margin-bottom: @padding * 2;
        border-top: 0px solid @gray;
        text-align: left;
        border-top: 2px dashed #8884;
        .links {
          display: inline-block;
          width: auto;
          margin-top: 0px;
          text-align: right;
          .item {
            display: block;
          }
          &.social {
            float:right;
            i {
              float: right;
              margin: 0 0 0 5px;
              text-align: right;
            }
          }
          &.projects {
            text-align: left;
            padding-left: 0;
            margin: 30px 0 0 0;
          }
        }
        .header { 
          display: none;
        }
      }
      .divider {
        display: none;
      }
    }
  }
  footer {
    width: 100%;
    right: 0;
  }
}

@media screen and (max-width: 735px) { 
  body > .wrapper { 
    padding: 0px;

  }
}

@media screen and (max-width: 695px) { 
  body > .wrapper .page { 
    width: 100%;
    .main {
      border-radius: 0;
      width: 100%;
      .video {
        height: auto;
        margin-bottom: @padding;
      }
      .art {
        margin-top: @padding;
      }
      .art2 {
        margin-top: 5px;
      }
      .privacy {
        padding: 9px;
      }
      .part {
        padding: 5px;
      }
    }
  }
  footer {
    padding: 7px;
  }
}

@media screen and (max-width: 550px) { 
  body > .wrapper .page { 
    .slogan {
      font-size: 14px;
      line-height: 16px;
    }
    .badges {
      height: auto;
      flex-direction: column;
      .extension {
        padding: @padding 0;
        flex: 0 0 100%;
      }
      .editor {
        padding: @padding 0;
        display: block;
        flex: 0 0 100%;
      }
    }

    .art { 
      .icon {
        right: -50px;
      }
      .wrap:hover .icon {
        right: -45px;
      }
    }

  }
}

@media screen and (max-width: 425px) { 
  footer { bottom: 2px; padding-left: @padding }
  footer span { display: block; }
  footer span:nth-child(2) {
    float: none;
  }
  body > .wrapper .page { 
    margin-bottom: 60px;
    .side {
      nav .links.social .item {
        font-size: 0;
        i { font-size: 16px; }
      }
    }
  }

}