@font-face {
  font-family: Audiowide;
  src: url(/assets/fonts/Audiowide-Regular.ttf);
}

@black: #404040;
@lightgray: #eee;
@gray: #ccc;
@darkgray: #a7a7a7;
@color-panel: #9eaebd;
@blue: #1d64d8;
@darkblue: #2b54a7;
@inactiveblue: #c0c0e5;
@green: #7cbb00;
@darkgreen: #34a853;
@lightyellow: #ffc422;
@yellow: #ffbb00;
@darkyellow: #f19a2a;
@darkeryellow: #bb891a;
@darkeryellowtransp: rgb(187, 137, 26, 73%);
@red: #f65314;
@darkred: #c91b0b;
@color-border: @color-panel;
@color-background: @yellow;
@color-panel: #9eaebd;
@color-panel-dark: #74808b;

@mainfont: 'Roboto', sans-serif;
@headfont: 'Saira', sans-serif;

@width: 720px;
@border: 3px;
@padding: 6px;

@lineheight: 18px;

* {
  position: relative;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.bold {
  font-weight: 400;
}

a {
  text-decoration: none;
  color: @blue;
  font-weight: 400;
}

p { 
  margin: 0 0 9px 0; 
}

ul, ol {
  margin: 0;
  padding-left: 16px;
  li {
    margin-bottom: 9px;
  }
}
html {}

body {
  background: @color-background;
  /* background: repeating-linear-gradient( 180deg, #FFBB00, #ffbb00 17px, #cc9900 17px, #cc9900 18px); */
  background-position-y: 0px; 
  margin: 0;
  min-height: 100vh;
  width: 100%;
  min-width: (@width + (2*@padding));
  position: initial;
  font-family: @mainfont;
  font-weight: 400;
  color: @black;
  text-align: center;
  padding-bottom: 54px;
  font-size: 14px;
  .wrapper {
    width: @width;
    display: inline-block;
  }
  
}

.h1, h2, h3 {
  font-family: @headfont;
  font-weight:600;
  color: @black;
  margin: 0;
}

h2 {
  font-size: 21px;
  margin-bottom: 14px;
}
h3 {
  font-size: 17px;
}

.width {
  margin-left: calc((100vw - @width)/2);
  margin-right: calc((100vw - @width)/2);
  width: @width;
}

.slider {
  .pagination {
    position: absolute;
    top: 0;
    right: 7px;
    font-weight: bold;
    button {
      border: none;
      background: none;
      padding: 0;
      width: 21px;
      line-height: 21px;
      text-align: center;
      border-radius: 3px;
      cursor: pointer;
      &:hover {}
      &.disabled {
        color: @darkeryellow;
        &:hover {
          background: none;
        }
      }
    }
  }
}

header {
  border-bottom: 1px solid @darkeryellow;
  background: @lightyellow;
  .wrapper {
    padding: 27px 0;
    a {
      display: inline-block;
      position: relative;
      top: -4px;
    }
  } 
  h1 {
    margin: 0;
  }
  .logo {
    display: inline-block;
    color: @darkblue;
    font-family: 'Audiowide';
    font-size: 51px;
    .full {
      color: @darkeryellow;
    }
    &.small {
      font-size: 18px;
    }
  }
  .slogan {
    display: block;
    color: #bb891a;
    /* font-family: 'Saira'; */
    font-size: 16px;
    margin-top: 4px;
  }
}

.basic-layout header {
  text-align: center;
}

nav {
  strong { vertical-align: baseline; }
  .wrapper {
    padding: 56px 0;
  }
  .wrapper > div {
    margin-bottom: 41px;
    font-size: 0;
    & > * { vertical-align: middle; }
    &:last-child {
      margin-bottom: 0;
    }
    &.editor {
      a {
        color: @black;
        & > * {
          vertical-align: middle;
        }
      }
      .icon {
        font-family: @headfont;
        font-size: 32px;
        font-weight: 600;
        display: inline-block;
        margin-right: 7px;
        color: @darkblue;
        top: -2px;
        span {
          color: @red;
        }
      }
      .text {
        display: inline-block;
        text-align: left;
        .title, .title * { 
          vertical-align: middle; 
          font-size: 16px;
        }
        .descr {
          font-size: 12px; 
          color: @darkgray;
        }
      }
    }
  } 
  a {
    width: 294px;
    background: white;
    border: @border solid @color-panel;
    height: 67px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0 1px 1px @color-panel-dark;
    &:hover {
      border-color: @blue;
    }
  }
  .description {
    display: inline-block;
    line-height: @lineheight;
    vertical-align: top;
    width:426px;
    text-align: center;
    font-size: 14px;
    span {
      display: block;
      color: @darkeryellow;
    }
  }
}

.video-section {
  margin: 7px 0;
  .wrapper {
    background: @darkeryellowtransp;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    & > div {
      flex: 0 0 auto;
      &.joinus {
        color: white;
        font-size: 14px;
        line-height: @lineheight;
        width: 294px;
        text-align: center;
        a {
          color: white;
          font-size: 24px;
          display: inline-block;
          padding: 15px;
          &:hover {
            color: @darkblue;
          }
        }
      }
      &.video {
        font-size: 0;
        iframe {

        }
      }
    }
  }

}

.news {
  .wrapper {
    text-align: left;
    padding: 54px 0;
    font-size: 0;
    & > div {    
      vertical-align: top;
      display: inline-block;
      padding: 0 14px;
      text-align: justify;
      h2 { 
        margin-bottom: 18px; 
        font-size: 19px;
      }

      &.future {
        font-size: 14px;
        line-height: @lineheight; 
        width: 294px;
      }
      &.update {
        font-size: 14px;
        line-height: @lineheight; 
        width: 426px;

      }
    }
  }
}

.panel {
  margin-top: -6px;
  display: inline-block;
  width: @width;
  text-align: left;
  box-shadow: 0 1px 1px @color-panel-dark;
  border-radius: (@padding * 2);
  overflow: hidden;
  h2 {
    font-size: 0px;
    vertical-align: middle;
    background: @color-panel;
    margin: 0;
    vertical-align: top;
    display: flex;
    padding-right: ((@padding * 2) + @border);
    padding-left: (@padding * 2);
    border: 3px solid @color-border;
    border-bottom: 0px;
    .imgwrap {
      width: 45px;
      height: 45px;
      display: inline-block;
      vertical-align: top;
      flex: 0 0 45px;
      position: relative;
      top: 8px;
      left: -3px;
    }
    img {
      height: 45px;
      width: 45px;
      object-fit: cover;
      position: relative;
    }
    .title {
      padding-left: (@padding);
      display: inline-block;
      font-size: 21px;
      line-height: 40px;
      div:nth-child(1) {
        text-transform: uppercase;
      }
      div:nth-child(2) {
        font-size: 16px;
        line-height: 20px;
        position: relative;
        top: -6px;
        font-weight: 400;
        color: white;
        font-family: @mainfont;
        margin-top: 1px;
        margin-bottom: 3px;
      }
    }
  }
  .content {
    padding: (@padding * 2);
    border: @border solid @color-panel;
    border-top: 0;
    background: white;
    line-height: @lineheight;
    text-align: justify;
    border-bottom-left-radius: (@padding * 2);
    border-bottom-right-radius: (@padding * 2);
    font-size: 14px;
    img {
      width: 100%;
      display: block;
      margin-top: 18px;
    }
    h3, h4, h5 {
      line-height: 18px;
      margin-top: 18px;
      margin-bottom: 9px;
    }
    h3 {
      font-size: 17px;
      font-weight: 600;
    }
    h4 {
      font-size: 14px;
      font-weight: 600;
    }
    ul, ol {
      margin: 0;
      padding-left: (@padding * 4);
    }
  }
}

.homepage .privacy {
  padding: 55px 16px;
  line-height: @lineheight;
  margin: 0;
}

.privacy {
  padding: 55px 16px;
  .content {
    h2, h3 {
      text-transform: uppercase;
    }
    ul.spaces {
      li {
        margin-bottom: @padding;
      }
    }
  }
  .panel {
    margin-top: 0px;
  }
}



footer {
  position: absolute;
  background: @darkeryellowtransp;
  bottom: 0;
  left: 0;
  width: 100%;
  font-weight: 400;
  font-family: @headfont;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  padding: 15px 12px;
  & > div { display: inline-flex; width: @width; }

  .copyright {
    flex: 1 1 auto;
    text-align: left;
  }
  .creator {
    flex: 1 1 auto;
    text-align: right;
    i {
      color: @red;
    }
  }
}


.editorlogo {
  h1 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: @black;
    font-weight: 400;
    & > * {
      vertical-align: middle;
    }
    .icon {
      font-family: @headfont;
      font-size: 32px;
      font-weight: 600;
      display: inline-block;
      margin-right: 7px;
      color: @darkblue;
      top: -2px;
      span {
        color: @red;
      }
    }
    .text {
      display: inline-block;
      text-align: left;
      .title, .title * { 
        vertical-align: middle; 
        font-size: 16px;
      }
      .descr {
        font-size: 12px; 
        color: @darkeryellow;
      }
    }
  }
}

.rule-editor-layout {
  header {
    border-bottom: 1px solid @darkeryellow;
    padding: @padding 0;
    margin: 0;
    & > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.account-activation {
  text-align: left;
  padding: 0 8px;
}